<strong>Olá {{ studentName }}</strong>
<p>Segue abaixo a resposta a seu questionamento:</p>
<p><strong>Seu questionamento: </strong> {{ question }} </p>
<p style="color:rgb(35, 7, 160); font-size: 14px; ">{{ answer }} </p>
